@font-face
{font-family: 'OpenSans-Regular';src: url('OpenSans-Regular.ttf')}

#conteneur
{display: flex;}

.jaune
{background-color:#FFC107;
flex:1; text-align: center;width: 30%;}

.blanc
{background-color: #ffffff;
flex:2; text-align: center;
padding: 50px;
text-align: left;}

.titre
{text-align: left;
padding-bottom: 50px;}

.prenom
{color:#FFC107; font-size: 1.5em; font-weight: bold;}

.nom
{font-size: 1.5em; font-weight: 100;}

body
{font-size:10pt ; margin:0px; font-family: 'OpenSans-Regular';} 

img
{width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-top: 30px;
}
.sous-titre
{color:#FFC107;
background-color: #424242 ;
}

.soustitre
{border-bottom: solid; border-color: #FFC107;}

p
{margin:0px; text-align: justify;}

h1
{margin: 0px;}

h3
{margin: 0px;}

h4{margin: 0px;}

.poste
{margin: 0px ; opacity: 60%;}

.formation, .experience, .reco
{justify-content: space-around; }

.gras
{font-weight: bold;}
.description
{display: flex; justify-content: center; flex-direction: column; width: 70%;}

.anneelieu
{margin: 0px; display:flex; font-weight: bold;}

.contact
{justify-content: left}

.far, .fas
{color:#FFC107; font-size: 10pt ;}

.reco
{display: flex; justify-content: left; line-height: 2em; margin-top: 30px;}

.aldescription
{display:flex; justify-content: space-between; margin-bottom: 50px; margin-top: 30px;}

.iconeloisir
{border: solid;border-radius: 50%; padding:15px;}

.rubrique
{padding: 30px;}

.bordurejaune
{width: 7% ;border-top: solid;border-color:#FFC107;}

.loisirs
{margin-top: 400px;}

.icone-point
{margin-right: 20px;}
